{% extends contact_layout %}

{% block content %}
    <h1 class="main_title">Contact</h1>

    <form action="{{ path('rudak_contact_creation') }}" method="post">

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_errors(form.message) }}
            {{ form_widget(form.message) }}
        </div>
        {{ form(form) }}
    </form>
{% endblock %}